# Ignore all log files / log directory contents
logs/*

# But DO NOT ignore .gitkeep inside logs/
!logs/.gitkeep
nul
*.log
*.bin
venv
storage
.qdrant-initialized
start.sh
start.bat
README.md
runtime/services/gpu/vulkan_headers.lua
#rag/ask.py
#rag/ingest_codebase.py
